---
layout: layouts/base.ejs
---

<article>
    <span><%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %></span>
    
    <h1 class="accent"><%= title %></h1>
    
    <section><%- content %></section>

    <div class="share-footer">
        <a id="tweet-button" href="#" rel="noopener noreferrer nofollow" target="_blank"
            ><button><i data-feather="twitter"></i>Tweet 'Thanks' to me</button></a
        >
        <script>
            const tweet = new URL('https://twitter.com/intent/tweet');

            tweet.searchParams.append('original_referer', window.location.origin);
            tweet.searchParams.append('ref_src', 'twsrc^tfw|twcamp^buttonembed|twterm^share|twgr^'); // Wait, That's Illegal.
            tweet.searchParams.append('text', 'Hey @izzqz_ thanks for post\n' + window.location.href);

            document.getElementById('tweet-button').href = tweet.href;
        </script>
    </div>
</article>
