---
layout: layouts/base.ejs
---

<article>
    <span>
      <%= this.dateFns.format(new Date(date), 'LLLL d, yyyy') %>
    </span>
    <h1><%= title %></h1>
  <section><%- content %></section>
</article>
