---
title: 404 Page not found
description: Page not found
permalink: 404.html
eleventyExcludeFromCollections: true
---

<h1>404 Page not found</h1>

<a href="/" class="text-link" style="font-size: xx-large">Go back to safety now!</a>
