---
title: 404 Page not found
description: Page not found
permalink: 404.html
eleventyExcludeFromCollections: true
---

<h1>404 Not found</h1>
<span style="font-size: 1.3rem">Go <a href="/" class="text-link">back to safety</a> now!</span>
<iframe
    src="https://giphy.com/embed/6P5ghEyGd6Kqs"
    width="480"
    height="192"
    frameBorder="0"
    class="giphy-embed"
    allowFullScreen
></iframe>
