---
title: 404 Page not found
description: Page not found
permalink: 404.html
eleventyExcludeFromCollections: true
---

<h1>404 Not found</h1>

<div style="width:100%;height:0;padding-bottom:101%;position:relative;">
    <iframe src="https://giphy.com/embed/cnFGWIkR5WTFXh4utQ"
            width="100%"
            height="100%"
            style="position:absolute"
            frameBorder="0"
            class="giphy-embed"
            allowFullScreen
    ></iframe>
</div>

<span style="font-size: xx-large">Go <a href="/" class="text-link" >back to safety</a> now!</span>