span.sub-title {
    color: #808080;
    white-space: nowrap;
}

span.title {
    font-size: 1.1rem;
    font-weight: bolder;
}

.description ul {
    margin-bottom: 0.5rem;
}

.description li::marker {
    font-size: 1.1rem;
}

ul.tags-container {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0.5rem;
}

ul.tags-container li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0 0.5rem;
    background-color: #ebebeb;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
}

:root {
    --level-3-color: #ff0000;
    --level-2-color: #ffa500;
    --level-1-color: #808080;
}

i.level-1::before {
    color: var(--level-1-color);
    content: '\2022';
    font-size: 1.5rem;
    font-style: normal;
    margin-right: 0.2rem;
}

i.level-2::before {
    color: var(--level-2-color);
    content: '\2022';
    font-size: 1.5rem;
    font-style: normal;
    margin-right: 0.2rem;
}

i.level-3::before {
    color: var(--level-3-color);
    content: '\2022';
    font-size: 1.5rem;
    font-style: normal;
    margin-right: 0.2rem;
}

span.levels-presentation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1em;
}

span.levels-presentation span {
    margin-right: 1.5em;
}

.technologies-section {
    column-count: 3;
    column-rule-width: 0;
    gap: 0;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    font-size: 0.9rem;
}

.technologies-section figure {
    margin: 0 1em 1em 0;
    padding: 1rem;
    background-color: #fafafa;
    border-radius: 0.3rem;
    width: 12em;
    display: inline-block;
}

.technologies-section figcaption {
    font-weight: 900;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.technologies-section ul {
    padding-left: 0;
    margin-bottom: 0;
}

.technologies-section li {
    margin-top: -0.5rem;
    list-style-type: disc;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.technologies-section i {
    margin-right: 0.2rem;
    color: #808080;
}

.technologies-section li::before {
    font-size: 1.5rem;
    content: '\2022';
    margin-right: 0.2rem;
}

.technologies-section li.level-3::before {
    color: var(--level-3-color);
}

.technologies-section li.level-2::before {
    color: var(--level-2-color);
}

.technologies-section li.level-1::before {
    color: var(--level-1-color);
}

.custom-list li::marker {
    font-size: 1rem;
}
